div{
    width:800px;
    height:450px;
    background-color: rgb(210, 146, 146);
    margin: 30px;
    border: 7px dashed black;
    border-radius: 60px;
    
}

img{
    height: 300px;
    margin: 20px;
    float: left;
}

button{
    margin: 0 auto;
    margin: 40px;
    margin-right: 40px;
    float: right;
    height: 30px;

}